<div>
  <header>
    <h1 class="text-2xl font-bold leading-tight text-gray-900">
      <%= @header %>
    </h1>
  </header>
  <main>
    <div class="mt-4 sm:mt-6 print:m-0"><%= content %></div>
  </main>
</div>